.App{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
  background-color: #eee;
}

.product-cards{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex: 1;
  align-items: center;
}